<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
                      style: "background-image: url(#{asset_pack_path('media/images/event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-12">
          <div class="event-description">
            <% if current_user_can_edit?(@event) %>
              <h3><%= link_to @event.title, event_path(@event) %> <small>(<%= t('my_event') %>)</small></h3>
            <% else %>
              <h3><%= link_to @event.title, event_path(@event) %>
                <small>(<%= t('organizer') %> <%= link_to @event.user.name, user_path(@event.user) %>)</small></h3>
            <% end %>
            <h3><%= l @event.datetime, format: :long %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://www.google.com.ua/maps/search/#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-top">
              <%= link_to t('edit'), edit_event_path(@event), class: 'btn btn-secondary mb-2' %>
              <%= link_to t('delete'), event_path(@event), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-secondary mb-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-subscriptions">
        <% if @event.subscriptions.count > 0 %>
        <p><b><%= t('will_go') %></b><%= render partial: 'subscriptions/subscription',
        collection: @event.subscriptions.except(@new_subscription) %></p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-subscription-form">
        <% if !current_user_can_edit?(@event) %>
        <%= render partial: 'subscriptions/form', locals: {subscription: @new_subscription || @event.subscriptions.build} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="event-comments buffer-top">
      <%= render partial: 'comments/form', locals: { comment: @new_comment || @event.comments.build } %>
      <div class="buffer-both">
        <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
      </div>
    </div>
  </div>
</div>
