<h2><%= t '.title' %></h2>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<p><%= t '.event' %>: <strong><%= link_to @event.title, @event %></strong></p>

<p><%= t '.datetime' %>: <strong><%= l @event.datetime, format: :long %></strong></p>

<p><%= t '.owner' %>: <strong><%= @event.user.name %></strong></p>
