<!DOCTYPE html>
<html  class="h-100" lang="ru">
  <head>
    <title>BBQ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="d-flex flex-column h-100">
  <main class="flex-shrink-0" role="main">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-link active"><%= link_to 'Профиль', current_user %></li>
            <li class="nav-link active"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-link active"><%= link_to 'Войти', new_user_session_path %></li>
            <li class="nav-link active"><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div><!--/row-->
  </div><!-- /container -->
  </main>
    <footer class="footer mt-auto py-3">
      <div class="container-fluid">
        <span class="text-muted">&copy; Company 2021</span>
      </div>
    </footer>
  </body>
</html>
