<!DOCTYPE html>
<html  class="h-100" lang="en">
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag "https://api-maps.yandex.ru/2.1/?apikey=#{Rails.application.credentials.yandex[:maps_api_key]}&lang=en_EN" %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="d-flex flex-column h-100">
  <main class="flex-shrink-0" role="main">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-link active"><%= link_to t('profile'), current_user %></li>
            <li class="nav-link active"><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-link active"><%= link_to t('sign_in'), new_user_session_path %></li>
            <li class="nav-link active"><%= link_to t('sign_up'), new_user_registration_path %></li>
          <% end %>
         </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-3">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>
  </main>
    <footer class="footer mt-auto py-3">
      <div class="container-fluid">
        <span class="text-muted">&copy; <%= t('app.company') %> <%= Time.now.strftime("%Y") %></span>
      </div>
    </footer>
  </body>
</html>
